body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.product_item{
	height: 200px;
}
.productName{
	background-color: #fee201;
	margin-top: 0;
	margin-bottom: 0;
	height: 30%;
}
.description, .price{
	margin-top: 0;
	margin-bottom: 0;
	background-color: #79a6d2;
	height: 20%;
}